.btn-poision { 
    color: #ffffff; 
    background-color: #611BBD; 
    border-color: #130269; 
  } 
   
  .btn-poision:hover, 
  .btn-poision:focus, 
  .btn-poision:active, 
  .btn-poision.active, 
  .open .dropdown-toggle.btn-poision { 
    color: #ffffff; 
    background-color: #49247A; 
    border-color: #130269; 
  } 
   
  .btn-poision:active, 
  .btn-poision.active, 
  .open .dropdown-toggle.btn-poision { 
    background-image: none; 
  } 
   
  .btn-poision.disabled, 
  .btn-poision[disabled], 
  fieldset[disabled] .btn-poision, 
  .btn-poision.disabled:hover, 
  .btn-poision[disabled]:hover, 
  fieldset[disabled] .btn-poision:hover, 
  .btn-poision.disabled:focus, 
  .btn-poision[disabled]:focus, 
  fieldset[disabled] .btn-poision:focus, 
  .btn-poision.disabled:active, 
  .btn-poision[disabled]:active, 
  fieldset[disabled] .btn-poision:active, 
  .btn-poision.disabled.active, 
  .btn-poision[disabled].active, 
  fieldset[disabled] .btn-poision.active { 
    background-color: #611BBD; 
    border-color: #130269; 
  } 
   
  .btn-poision .badge { 
    color: #611BBD; 
    background-color: #ffffff; 
  }