{% extends "base.html" %}

{% block app_content %}
    <img src="{{url_for('static', filename='PokemonLogo.png')}}" alt="PokemonLogo">
    <h1>Explore Pokemon</h1>
    <h3>Browse Pokemon</h3>
    <form method="POST">
        <div class = "form-group"></div>
            <input type="text" name="edata">
            <input class="btn btn-primary" type="submit" value="Go!">
        </div>
    </form>
    {% for pokemon in random_pokemon_dict %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ random_pokemon_dict[pokemon]["Name"] }} #{{ random_pokemon_dict[pokemon]["Dex"] }}
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    {% endfor %}
{% endblock %}