{% extends "base.html" %}

{% block app_content %}
    <img src="{{url_for('static', filename='PokemonLogo.png')}}" alt="PokemonLogo">
    <h1>Explore Pokemon</h1>
    <h3>Browse Pokemon</h3>
    <form method="POST">
        <div class = "form-group"></div>
            <input type="text" name="edata">
            <input class="btn btn-primary" type="submit" value="Go!">
        </div>
    </form>
    {% for pokemon in random_pokemon_dict %}
        <div class="card border-primary mb-3" style="width: 18rem;">
            <img class="card-img-top" src="https://github.com/fanzeyi/pokemon.json/blob/master/thumbnails/{{ random_pokemon_dict[pokemon]["Dex"] }}.png?raw=true" alt="{{ name }}">
            <div class="card-body">
              <h5 class="card-title">{{ random_pokemon_dict[pokemon]["Name"] }} #{{ random_pokemon_dict[pokemon]["Dex"] }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('pokemon')}}" class="btn btn-primary">Veiw this Pokemon</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}